.form {
  text-align: center;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(238, 238, 238);
}

.form button {
  display: flex;
  align-items: center;
  font: inherit;
  cursor: pointer;
  background-color: #653cf7;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 24px;
  font-weight: bold;
  align-items: center;
  left: 20rem;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
