.supplement {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding-bottom: 0rem;
  border-bottom: 1px solid #ccc;
}

.supplement h3 {
  margin: 0 0 0.5rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: rgb(255, 168, 55);
  font-size: 1.25rem;
}
